	@media  only screen and (max-width: 575.98px) {
		.container {
			position: absolute;
			width: calc(763.75px / 2);
			height: calc(516.75px / 2);
		  	margin: auto;
	  		top: 0; 
	  		left: 0; 
	  		bottom: 0; 
	  		right: 0;
		}
		.table {
			width: calc(763.75px / 2);
			height: calc(516.75px / 2);
		}
		.computer {
			position: absolute;
			top: calc(45px / 2);
			left: calc(285px / 2);
			height: calc(231.25px / 2);
			width: calc(241px / 2);
		}
		.computer:hover {
			opacity: 0.3;
		}
		.notepad {
			position: absolute;
			top: calc(120px / 2);
			left: calc(525px / 2);
		}
		.notepad img {
			height: calc(160.25px / 2);
			width: calc(131px / 2);
		}
		.notepad .notepad_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.notepad:hover .notepad_hover {
			display: block;
		}
		.passport {
			position: absolute;
			top: calc(120px / 2);
			left: calc(160px / 2);
			height: calc(151.75px / 2);
			width: calc(88.75px / 2);
			z-index: 0;
		}
		.passport img {
			height: calc(151.75px / 2);
			width: calc(88.75px / 2);
		}
		.passport .passport_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.passport:hover .passport_hover {
			display: block;
		}
		.book {
			position: absolute;
			top: calc(275px / 2);
			left: calc(105px / 2);
			height: calc(178.75px / 2);
			width: calc(193.25px / 2);
		}
		.book img {
			height: calc(178.75px / 2);
			width: calc(193.25px / 2);
		}
		.book .book_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.book:hover .book_hover {
			display: block;
		}
		.food {
			position: absolute;
			top: calc(290px / 2);
			left: calc(320px / 2);
			height: calc(159.75px / 2);
			width: calc(164.75px / 2);
		}
		.food img {
			height: calc(159.75px / 2);
			width: calc(164.75px / 2);
		}
		.food .food_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.food:hover .food_hover {
			display: block;
		}
		.camera {
			position: absolute;
			top: calc(300px / 2);
			left: calc(510px / 2);
		}
		.camera img {
			height: calc(132.5px / 2);
			width: calc(158.5px / 2);
		}
		.camera .camera_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.camera:hover .camera_hover {
			display: block;
		}
		.headphones {
			position: absolute;
			top: calc(75px / 2);
			left: calc(60px / 2);
		}
		.headphones img {
			height: calc(268px / 2);
			width: calc(253.25px / 2);
		}
		.headphones .headphones_hover {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
		}
		.headphones:hover .headphones_hover {
			display: block;
		}
		.footer {
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			height: calc(50px / 2);
			width: 100%;
			border-top: calc(1px / 2) solid white;
			justify-content: center;
			align-items: center;
			font-family: "Lucida Console";
		}
	}